
body, html {
    margin: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;
    color: #635b74;
    overflow-x: hidden;
    position: relative;
    height: 100%;
}

body {
    min-width: 320px;
    min-height: 100%;
    overflow-x: hidden;
}

.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*SIGN-UP*/

.form-sign-up {
    width: 260px;
    background-color: #f7f7f7;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    padding: 15px;
    text-align: center;
}
.form-sign-up__heading {
    color: #264c6c;
    text-align: center;
    border-bottom: solid steelblue;
    margin: 0 0 15px;
}
.form-sign-up__input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    outline: none;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.form-sign-up__btn {
    color: white;
    background-color: steelblue;

    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.form-sign-up__btn:hover {
    background-color: #264c6c;
}
.form-sign-up__error {
    color: red;
    font-size: 12px;
    margin-bottom: 15px;
    text-align: left;
}
/*END SIGN-UP*/

/*CHAT*/
.app {
    width: 60%;
    overflow: hidden;
    height: calc(100% - 38px);
    margin: auto;
    padding: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
    -webkit-transition: left 0.3s ease;
    background-color: #f7f7f7;
}

.heading {
    padding: 10px 16px 10px 15px;
    border-bottom: solid steelblue;
    position: relative;
}

.heading svg{
    display: block;
    fill: #264c6c;
}

.close-button {
    position: absolute;
    right: 20px;
    top: 12px;
}

.heading-name {
    padding: 0;
    font-weight: 700;
    color: #264c6c;
}

.heading-name span{
    font-weight: normal;
    font-size:8px;
}

/*Conversation*/

.conversation {
    padding: 0;
    margin: 0;
    border-left: 1px solid rgba(0, 0, 0, .08);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.message {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    border: 1px solid #f7f7f7;
    height: calc(100% - 120px);
}

.message-body {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

.message-main-sender {
    padding: 3px 20px;
    display: flex;
    justify-content: flex-end;
}

.message-text {
    margin: 0 !important;
    padding: 5px !important;
    word-wrap:break-word;
    font-weight: 200;
    font-size: 17px;
    padding-bottom: 0 !important;
    color: black;
    text-align: left;

}

.message-time {
    font-size: 12px;
    text-align: right;
    color: #9a9a9a;
    width: 100%;
    margin-top: 3px;
}

.sender {
    background: #dcf8c6;
    border-radius: 10px 10px 0 10px;
    padding: 4px 10px 7px;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    display: inline-block;
    word-wrap: break-word;
}


/*Reply*/

.reply {
    height: 60px;
    width: 100%;
    margin: 0 !important;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-reply {
    padding: 0 10px;
    background: #f0f0f0;
}
.form-reply textarea{
    width: 100%;
    resize: none;
    padding: 8px;
    font-size: 16px;
    outline: none;
    border: none;
    margin-right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.form-reply textarea:focus {
    box-shadow: 0 0 3px 0px #264c6c;
}

.send-button{
    color: white;
    background-color: steelblue;

    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 16px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.send-button:hover {
    background-color: #264c6c;
}

/*END CHAT*/


@media screen and (max-width: 700px) {
    .app {
        top: 0;
        height: 100%;
        width: 100%;
    }
    .message-text {
        font-size: 14px;
    }
    .form-reply textarea {
        font-size: 14px;
    }
}