<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="chat.js"></script>
</head>
<body>
<div id="messengerApp" class="main">
    <div v-if="!ready" class="sign-up">
        <form @submit.prevent="auth" class="form-sign-up">
            <h2 class="form-sign-up__heading">Login form</h2>
            <div><input type="text" v-model="user.login" class="form-sign-up__input" placeholder="Login"></div>
            <div><input type="password" v-model="user.password" class="form-sign-up__input" placeholder="Password"></div>
            <div class="form-sign-up__error">{{error}}</div>
            <button class="form-sign-up__btn">Login</button>
        </form>

    </div>

    <div v-if="ready" class="app">
        <div class="conversation">
            <div class="row heading">
                <div class="heading-name">
                    Chat {{user.login}} <span>({{user.token}})</span>
                </div>

                <div class="close-button" @click="close">
                    <svg xmlns="http://www.w3.org/2000/svg" height="18" viewBox="0 0 365.696 365.696" width="18">
                        <path d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0"/>
                    </svg>
                </div>
            </div>

            <ul class="message">
                <li class="message-body" v-for="message in messages">
                    <div class="message-main-sender">
                        <div class="sender">
                            <div class="message-text">
                                {{message.body}}
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <form @submit.prevent="send" class="form-reply">
                <div class="reply">
                    <textarea rows="1" id="comment" v-model="newMessage" placeholder="Input message"></textarea>
                    <button type="submit" class="send-button">Send</button>
                </div>
            </form>

        </div>

    </div>
</div>
<script>
    Messenger({
        el: '#messengerApp',
        api:{
            authUrl: 'http://localhost:8080/',
            listMessageUrl: 'http://localhost:8082/',
        },
        socket:{
            url: 'ws://127.0.0.1:8380/chat',
        }
    });
</script>

</body>
</html>